:root {
  --primary-color: #e6c476;
  --bg-color: #e6c4761a !important;
  --bg--footer: #524527;
}

.block-title {
  margin: 0 0 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: #0b111f;
}
.categories_block {
  margin: 30px 0;
}
.categories-list {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 12px);
  margin: -6px;
  padding: 0;
  list-style: none;
}
.categories-list li {
  padding: 6px;
}
.categories-list li a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  padding: 0 12px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 20px 0 rgb(43 64 115 / 12%);
  font-size: 16px;
  color: #4f535d;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.2, 0.57, 0.36, 0.8);
}
.laguna-comments-wrapper {
  max-width: 800px;
}
.laguna-comments-wrapper .comments-block-container {
  padding-bottom: 40px;
}
.laguna-comments-wrapper .block-border {
  border: 2px solid #e8e8e9;
}

.laguna-comments-wrapper .block-padding {
  width: 100%;
  padding: 30px;
}
.laguna-comments-wrapper .bgw {
  background: #fff;
}

.laguna-comments-wrapper .comments-block-container .block-title {
  margin-bottom: 16px;
}
.laguna-comments-wrapper .block-title.small {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 1.6;
}
.laguna-comments-wrapper .block-title {
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  color: #273a4e;
}
.laguna-comments-wrapper .add-comment-form .union-block {
  display: flex;
}
.laguna-comments-wrapper .form-group {
  margin-bottom: 20px;
}

.laguna-comments-wrapper .custom-input.comment {
  border-radius: 6px;
}
.laguna-comments-wrapper .custom-input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  border-radius: 22px;
  border: 1px solid #dcdfe3;
  font-size: 16px;
  color: #526171;
}
.laguna-comments-wrapper .custom-textarea.comment {
  border-radius: 6px;
}
.laguna-comments-wrapper .custom-textarea {
  width: 100%;
  height: 100px;
  padding: 10px 15px;
  border-radius: 22px;
  border: 1px solid #dcdfe3;
  resize: none;
  font-size: 16px;
  color: #526171;
}
.laguna-comments-wrapper .add-comment-form .feedback-and-agreement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -10px;
}

.laguna-comments-wrapper .add-comment-form .feedback-and-agreement .agreement-block input {
  padding: 0;
  margin: 0;
  display: none;
}

form input[type='checkbox'] {
  display: inline;
  width: 0 !important;
  height: 0 !important;
}
.laguna-comments-wrapper .add-comment-form .feedback-and-agreement .agreement-block .custom-checkbox-label {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 20px;
  font-size: 14px;
  line-height: 1.43;
  cursor: pointer;
}

input[type='checkbox'] + label:before {
  content: '\2713';
  color: transparent;
  display: inline-block;
  border: 1px solid #00bceb;
  font-size: 12px;
  line-height: 12px;
  margin: -3px 5px 0 0;
  height: 12px;
  width: 12px;
  border-radius: 2px;
  text-align: center;
  vertical-align: middle;
  transition: color 0.3s ease;
}

.laguna-comments-wrapper .add-comment-form .feedback-and-agreement .agreement-block .custom-checkbox-label:before {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  margin-right: 10px;
  padding: 5px;
  top: 4px;
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #00bceb;
  border-radius: 3px;
  vertical-align: middle;
  width: 5px;
  height: 5px;
}
.laguna-comments-wrapper .add-comment-form .feedback-and-agreement .agreement-block .custom-checkbox-label {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 20px;
  font-size: 14px;
  line-height: 1.43;
  cursor: pointer;
}
.laguna-comments-wrapper .add-comment-form .feedback-and-agreement .agreement-block .custom-checkbox-label .text {
  margin-right: 5px;
}
.laguna-comments-wrapper .agreement-block .link {
  color: #00bceb;
}
.laguna-comments-wrapper a {
  transition: all 0.4s cubic-bezier(0.2, 0.57, 0.36, 0.8);
  color: #526171;
}
.laguna-comments-wrapper .form-group {
  margin-bottom: 20px;
}
.laguna-comments-wrapper .mt-15 {
  margin-top: 15px;
}
.mt-15 {
  margin-top: 15px;
}
.laguna-comments-wrapper .add-comment-form .btn-container {
  margin-top: 20px;
}

.laguna-comments-wrapper .simple-btn.submit-btn {
  width: auto;
  height: 40px;
  padding: 0 33px;
}

.laguna-comments-wrapper .simple-btn {
  font-family: Poppins, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 46px;
  border-radius: 6px;
  background-color: #00bceb;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  border: none;
  color: #fff;
  transition: all 0.4s cubic-bezier(0.2, 0.57, 0.36, 0.8);
  cursor: pointer;
}
.comments-list-container {
  margin-top: 40px;
}

.comments-list-container .title {
  margin: 0 0 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.6;
  color: #273a4e;
}
.comments-list-container .comments-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.comments-list-container .comments-list > li {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px 30px 30px;
  background: #fff;
  border: 1px solid #dcdfe3;
  border-radius: 6px;
}
.laguna-comments-wrapper .comment-item .title-part {
  display: flex;
  justify-content: space-between;
}
.laguna-comments-wrapper .comment-item .title-part .user-info {
  display: flex;
  width: calc(100% - 84px);
  padding-right: 20px;
}

.laguna-comments-wrapper .comment-item .title-part .user-info .avatar.has-avatar {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.laguna-comments-wrapper .comment-item .title-part .user-info .avatar {
  width: 36px;
  height: 36px;
  border: 2px solid #01c583;
  border-radius: 50%;
}
.laguna-comments-wrapper .comment-item .title-part .user-info .concise {
  width: calc(100% - 36px);
  padding-left: 15px;
  cursor: default;
}
.laguna-comments-wrapper .comment-item .title-part .user-info .concise .nickname {
  width: 100%;
  font-weight: 500;
  line-height: 1.25;
  color: #273a4e;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.laguna-comments-wrapper .comment-item .title-part .user-info .concise .time {
  font-size: 12px;
  line-height: 1.33;
  color: #96a0a9;
}
.laguna-comments-wrapper .comment-item .body-part {
  position: relative;
  margin: 10px 0;
}
.laguna-comments-wrapper .comment-item .body-part div {
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 1.75;
  overflow: hidden;
}
.laguna-comments-wrapper a {
  transition: all 0.4s cubic-bezier(0.2, 0.57, 0.36, 0.8);
  color: #526171;
}
.laguna-comments-wrapper .comment-item .body-part .link {
  display: none;
}
.laguna-comments-wrapper .comment-item .bottom-part {
  display: flex;
  align-items: center;
}
.laguna-comments-wrapper .helpful-comment-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.laguna-comments-wrapper .helpful-comment-list li:first-child {
  margin-right: 30px;
}

.laguna-comments-wrapper .helpful-comment-list li .vote {
  display: flex;
  align-items: center;
  color: #96a0a9;
  transition: all 0.4s cubic-bezier(0.2, 0.57, 0.36, 0.8);
  cursor: pointer;
}
.svg-icons {
  display: inline-block;
  width: 1em;
  stroke-width: 0;
  fill: currentColor;
}
.laguna-comments-wrapper .comment-item .bottom-part .reply-link {
  display: flex;
  align-items: center;
  margin-left: 30px;
  font-size: 14px;
  color: #96a0a9;
}
.description-block {
  border: 1px solid #e2e4e9;
  border-radius: 4px;
  padding: 20px;
  margin: 20px 0 40px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
}
.description-block {
  border: none;
  padding: 30px 25px 20px;
  margin: 0 0 40px;
  border-radius: 5px;
  box-shadow: 0 1px 50px 0 rgb(34 45 56 / 6%);
  background: #fff;
}
.description-section .description-block {
  margin: 0;
}
.description-block h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  color: #181a1b;
}
.description-block p {
  font-size: 14px;
}
.description-block p {
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 1.63;
  color: #636772;
}
.main-content .get-app {
  flex-direction: column;
}

.main-content .get-app .right .button {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}

.description {
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 20px;
}
.copyright {
  text-align: center;
  font-size: 0.8rem;
}
.title i {
  font-size: 25px;
  width: 25px;
  height: 25px;
  background-color: #00bceb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.app-info-content li {
  font-size: 0.9rem;
  color: #636772;
}
.app-info-content h4 {
  font-size: 18px;
}
.main-content .questions .body .accordion .item .title {
  align-items: center;
}
.header {
  box-shadow: 0 4px 24px 0 rgb(43 64 115 / 8%);
}
#header {
  background-color: #fff !important;
}
.page > .header .container {
  padding-top: 14px;
  padding-bottom: 8px;
}

.simple-pagination {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.light-theme a,
.light-theme span {
  min-width: 41px;
  max-height: 41px;
  padding: 8px 16px;
  border-radius: 10px;
  border: 0;
  background-color: #eff2f5;
  color: #4f535d;
  font-size: 15px;
  transition: all 0.3s ease;
}
.light-theme .current {
  background-color: #00bceb;
  color: #fff;
}
.page-link.next,
.current.next,
.page-link.prev,
.current.prev {
  font-size: 1.5rem;
}

.logo .image {
  padding: 8px;
  font-family: cursive;
  font-size: 24px;
  color: #e6c476;
}
.information .image img,
.review-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.page .body .container > .content .main-content > .slider .item img {
  height: 160px;
}
.google-auto-placed {
  display: none !important;
}

body {
  background-color: var(--bg-color);
}
.page > .footer {
  background-color: var(--bg--footer);
  border-top: 0;
}
.light-theme .current {
  background-color: var(--primary-color);
}
.download .btn {
  background-color: var(--primary-color);
}
.page .body .container > .content .main-content > .progressing .list .item .bar .progress {
  background-color: var(--primary-color);
}
.laguna-comments-wrapper .simple-btn {
  background-color: var(--primary-color);
  border: 0;
}
.page .body .container .level-up .left .button {
  background-color: var(--primary-color);
}
.nav {
  flex-direction: row-reverse;
  align-items: center;
}
.download .body .container .content .main-content .app .card {
  background-color: transparent;
}
.download .body .container .content .main-content .get-app .right .button {
  background-color: var(--primary-color);
}
.download .body .container .content .main-content .questions .body .accordion .item.active .title {
  background-color: var(--primary-color);
}
.download .body .container .content .main-content .questions .body .accordion .item .title {
  background-color: #fff;
}
.title i {
  background-color: var(--primary-color);
}
.laguna-comments-wrapper .block-border {
  box-shadow: 1px 16px 33px -3px rgba(0, 0, 0, 0.55);
  border: 0;
}
.section.slider2 {
  margin: 1.3rem 0;
}
.owl-nav {
  display: none;
}
.owl-carousel .item img {
  border-radius: 10px;
  height: 160px;
}
@media only screen and (max-width: 1025px) {
  .page > .header-mobile {
    box-shadow: 0 4px 24px 0 rgb(43 64 115 / 8%);
  }
  .nav {
    margin-top: 30px;
    flex-direction: column;
  }
  .navbar .item {
    margin-top: 10px;
    text-align: center;
  }
  .header-mobile {
    background-color: #fff !important;
  }
}

@media only screen and (max-width: 640px) {
  .main-content .get-app .right .button {
    width: 100%;
  }
  .comments-list-container .comments-list > li {
    padding: 15px 15px 20px;
  }
  .comments-list-container {
    margin-top: 30px;
  }
  .laguna-comments-wrapper .add-comment-form .union-block .form-group {
    width: 100%;
    margin-bottom: 12px;
  }
  .comments-list-container .title {
    margin: 0 0 12px;
  }
  .laguna-comments-wrapper .comment-item .title-part {
    flex-direction: column;
  }
  .laguna-comments-wrapper .comment-item .title-part .user-info {
    width: 100%;
    padding-right: 0;
  }
  .laguna-comments-wrapper .comment-item .title-part .user-info .concise {
    padding-left: 10px;
  }
}
@media only screen and (min-width: 641px) {
  .laguna-comments-wrapper .add-comment-form .union-block .form-group {
    width: calc(50% - 10px);
  }
  .laguna-comments-wrapper .add-comment-form .union-block .form-group:first-child {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .light-theme a,
  .light-theme span {
    padding: 3px 11px;
    min-width: 31px;
  }
}
